<header id="header" class="header" role="banner">
  <div class="container">
    <div class="row">
        <div class="header--logo">
            {% if site_logo %}
                {% if is_front %}<h1>{% endif %}
                    <a href="{{ path('<front>') }}" title="{{ 'Accueil'|t }}" rel="home">
                        <img src="{{ logo }}" alt="{{ 'Accueil'|t }}" />
                    </a>
                {% if is_front %}</h1>{% endif %}
            {% endif %}
        </div>
        {% if primary_menu %}
            <nav class="header--main__nav">
                {{ primary_menu }}
            </nav>
        {% endif %}
    </div>
  </div>
</header>
